<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div>
    <h2>Hello, {{ fullname }}</h2>
    <h4>Congratulations! Your account has been created</h4>

    <a href="http://localhost:8001/homepage/" style="background-color: #a42b2b;
        color: white; padding: 14px 25px; text-decoration: none;  text-align: center">Go to login</a>
</div>

</body>
</html>
