<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <style>
        .edit_a {
            background-color: #a42b2b;
            color: white;
            text-align: center;
            text-decoration: none;
            padding: 14px 25px;

        }
    </style>
</head>
<body>
<div>
    <h2>Hello, {{ fullname }}</h2>
    <h4>Congratulations! Your account has been created</h4>
    <br>
    <h4>Your username account is: {{ user_name }}</h4>

    <a class="edit_a" href="http://localhost:8001/login/">Go to login</a>
</div>

</body>
</html>