{% extends 'base.html' %}

{% block title %}Delete- {{ category }}{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card">
                    <div class="card-header">
                        <h3 class="text-center">Delete - {{ category }}?</h3>
                    </div>
                    <form method="post">
                        {% csrf_token %}
                        <div class="card-body">
                            <h4 class="text-center">Esti sigur ca vrei sa stergi categoria {{ category }}?</h4>
                        </div>
                        <div class="card-footer text-center">
                            <button type="submit" class="btn btn-outline-danger">Da, vreau sa sterg categoria</button>
                            <a href="{% url 'list-of-category' %}" class="btn btn-outline-secondary">Nu</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}