{% extends 'base.html' %}

{% block title %}Details - {{ category }}{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <br><br>
                <div class="card text-center">
                    <div class="card-header">
                        View Details
                    </div>
                    <div class="card-body">
                        <h3 class="card-title">{{ category }}</h3>
                        {% if category %}
                        <h5><a href="{% url 'products-per-category' %}">Products</a></h5>
                        {% else %}
                        <h5>No products in {{ category }}</h5>
                        {% endif %}
                        <hr>
                        <a href="{% url 'list-of-category' %}" class="btn btn-primary">Cancel</a>
                    </div>
                    <div class="card-footer text-muted">
                        Created at: {{ category.created_at|date:'d-m-Y H:i:s' }} / Updated at: {{ category.updated_at|date:'d-m-Y H:i:s' }}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}