{% extends 'base.html' %}
{% block title %}List of Category{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Category Name</th>
                            <th>Created At</th>
                            <th>Updated At</th>
                            <th class="pull-center">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for category in categories %}
                        <tr>
                            <td>{{ category.name }}</td>
                            <td>{{ category.created_at|date:'d-m-Y H:i:s' }}</td>
                            <td>{{ category.updated_at|date:'d-m-Y H:i:s' }}</td>
                            <td class="pull-center">
                                {% if perms.category.change_category or perms.category.delete_category %}
                                <div class="btn-group">
                                    <button type="button" class="btn btn-outline-primary dropdown-toggle"
                                            data-bs-toggle="dropdown" aria-expanded="false">
                                        more actions
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="{% url 'update-category' category.id %}">Update</a></li>
                                        <li><a class="dropdown-item" href="{% url 'delete-category' category.id %}">Delete</a> </li>
                                    </ul>
                                </div>
                                {% else %}
                                No Actions
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}