{% extends 'base.html' %}
{% block title %} Products {% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="col-md-12">
            <h3>Products</h3>
            <div class="row gy-4">
                {% for product in all_products_per_category %}
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-body">
                                <img src="{{ product.image.url }}" width="100px" height="100px">
                                <div class="card-title">
                                    <h4>{{ product.name }}</h4>
                                </div>
                                <div class="card-header">
                                    <p>{{ product.description|linebreaks }}</p>
                                </div>
                                <div class="card-footer">
                                    <p>{{ product.price }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}