{% extends 'base.html' %}

{% block title %}Details - {{ product }}{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <br><br>
                <div class="card text-center">
                    <div class="card-header">
                        View Details
                    </div>
                    <div class="card-body">
                        <p><img src="{{ product.image.url }}" width="200px" height="200px"></p>
                        <h5 class="card-title">{{ product }}</h5>
                        <p class="card-text">{{ product.description }}</p>
                        <p class="card-text">{{ product.price }}</p>
                        <p class="card-text">{% if product.active  %}In Stock{% else %}Out of stock{% endif %}</p>
                        <a href="{% url 'list-of-category' %}" class="btn btn-primary">Cancel</a>
                    </div>
                    <div class="card-footer text-muted">
                        Created at: {{ product.created_at|date:'d-m-Y H:i:s' }} / Updated at: {{ product.updated_at|date:'d-m-Y H:i:s' }}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}