{% extends 'base.html' %}
{% block title %}List of Products{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Category Name</th>
                            <th>Product Name</th>
                            <th>Price</th>
                            <th>Description</th>
                            <th>Image</th>
                            <th>Created At</th>
                            <th>Updated At</th>
                            <th class="pull-center">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for product in products %}
                        <tr>
                            <td>{{ product.category|title }}</td>
                            <td>{{ product.name }}</td>
                            <td>{{ product.price }}</td>
                            <td>{{ product.description }}</td>
                            <td><img src="{{ product.image.url }}" width="50px" height="50px"></td>
                            <td>{{ product.created_at|date:'d-m-Y H:i:s' }}</td>
                            <td>{{ product.updated_at|date:'d-m-Y H:i:s' }}</td>
                            <td class="pull-center">
                                {% if perms.product.change_product or perms.product.delete_product %}
                                <div class="btn-group">
                                    <button type="button" class="btn btn-outline-primary dropdown-toggle"
                                            data-bs-toggle="dropdown" aria-expanded="false">
                                        More Actions
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="{% url 'update-product' product.id %}">Update</a></li>
                                        <li><a class="dropdown-item" href="{% url 'delete-product' product.id %}">Delete</a></li>
                                    </ul>
                                </div>
                                {% else %}
                                    No Actions
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}