{% extends 'base.html' %}
{% load static %}
{% block title %} Resume {% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body">
                            {% if my_profile.image %}
                                <img src="{{ my_profile.image.url }}" width="160" height="160">
                            {% else %}
                                <img src="{% static 'images/img.jpeg' %}" width="160" height="160">
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="text">Name: {{ my_profile }} </h5>
                            <h5 class="text">Email: {{ my_profile.email }}</h5>
                            <h5>Phone:{{ my_profile.phone }} </h5>
                            <h5><a href="{{ my_profile.gitlab }}" target="_blank">GitLab</a></h5>
                            <h5><a href="{{ my_profile.linkedin }}" target="_blank">LinkedIn</a></h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="container-fluid">
        <div class="col-md-12">
            <h2>Experience</h2>
            <div class="row">
                {% for job in my_jobs %}
                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title">{{ job.role }}</h3>
                            <h3 class="card-title">{{ job.company }}</h3>
                            <h5 class="card-title">{{ job.start_date|date:"m-Y" }} to
                                {% if job.end_date|date:"m-Y" %} {% endif %} present</h5>
                            <h5>{{ job.description |linebreaks }}</h5>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <br>
    <div class="container-fluid">
        <div class="col-md-12">
            <h2>Skills</h2>
            <div class="row">
                {% for skill in skills %}
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-body">
                                <h3 class="card-title">{{ skill.skill_name }}</h3>
                                <div class="card-header">
                                    <h6 class="card-tittle">{{ skill.description |linebreaks }}</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <br>
    <div class="container-fluid">
        <div class="col-md-12">
            <h2>Education</h2>
            <div class="row">
                <div class="card">
                    <div class="card-body">
                        {% for study in education %}
                            <h3 class="card-title">{{ study.school_name }}</h3>
                            <h4 class="card-title">{{ study.profile }}</h4>
                            <h5 class="card-title">{{ study.start_date|date:"m-Y" }} to
                                {% if study.end_date|date:"m-Y" %} {% endif %} present</h5>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}