{% extends 'base.html' %}


{% block title %} Reset password {% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 offset-3"><br><br>
                <div class="card">
                    <div class="card-header">
                        <h3 class="text-center">Congratulations!</h3>
                    </div>

                        <div class="card-body">
                           <h5 class="text-center">Your password has been successfully changed!</h5>
                        </div>
                        <div class="card-footer text-center">
                          <a href="{% url 'login' %}" class="btn btn-outline-secondary">Go to login</a>
                        </div>

                </div>
            </div>
        </div>
    </div>

{% endblock %}